---

---

{% include header.html %}

	<section>
		<div class="image fit main" style="padding:150px 0;height:450px;background-image:url(/assets/images/home-bg.jpg)">
			<header class="major">
				<h2>随心所记</h2>
			</header>
		</div>

		<div class="content">
      {% for category in site.categories %}
          {% if category.first ==  'diary' %}
              {% for post in category.last %}
                {% include articleitem.html %}
              {% endfor %}
          {% endif %}
      {% endfor %}
		</div>
	</section>

{% include footer.html %}
