<section class="container">
<div class="row">
    <div class="12u 12u(narrower)">
      <section class="box special">
        <span class="image featured"><img style="max-width:600px;max-height:250px;" src="//assets/images/introduction/introduction4.jpg" alt=""></span>
        <h2>{{ post.title }}</h2>
        <h4>{{ post.date | date: "%Y年%m月%d日" }}</h4>
        <span><h4>{{ post.excerpt | strip_html }}<h4></span>
        <ul class="actions">
          <li><a class="button alt" href="{{ post.url }}">更多详情</a></li>
        </ul>
      </section>
    </div>
  </div>
</section>
