<div class="block-bar" id="updown" style="display:none;">
  <div class="up" >
    <img src="{{ site.baseurl }}/img/up-out.png" id="up-btn" title="置顶" onMouseOver="this.src='{{ site.baseurl }}/img/up-in.png'" onMouseOut="this.src='{{ site.baseurl }}/img/up-out.png'"/>
  </div>
  <div class="down" >
    <img src="{{ site.baseurl }}/img/down-out.png" id="up-btn" title="置底" onMouseOver="this.src='{{ site.baseurl }}/img/down-in.png'" onMouseOut="this.src='{{ site.baseurl }}/img/down-out.png'"/>
  </div>
</div>

<style type="text/css">
  .block-bar{
    bottom: 20px;
    right: 16px;
    position: fixed;
  }
  .block-bar img{
    width: 30px;
    margin-bottom: 5px;
  }
</style>

<script>
  $(function(){
      $(window).scroll(function() {
          if($(window).scrollTop() >= 200){
              $('#updown').fadeIn(300);
          }else{
              $('#updown').fadeOut(300);
          }
      });
      $('#updown .up').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);});
      $('#updown .down').click(function(){$('html,body').animate({scrollTop: document.body.clientHeight+'px'}, 800);});
  });
</script>
