<!DOCTYPE HTML>
<html>
	<head>
		<title>lilya blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<nav id="nav">
						<ul>
							<li><a href="/index.html">首页</a></li>
							<li><a href="/article/classify.html">文章</a></li>
							<li><a href="/contact/contact.html">我的</a></li>
						</ul>
					</nav>
				</header>
